.products-edit-line{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 3px auto;
    background-color: cornsilk;
    padding:7px;
}
.products-edit-line img{
    max-width: 120px;
}
.products-edit-line h3{
    font-size: 2.5vw;
    font-family: monospace;
}
.products-edit-line {
    font-size: 2.5vw;
    font-family: monospace;
}
.products-edit-line a, h3 {
    font-size: 2.5vw;
    font-family: monospace;
}
.content-form-login{
    width:80%;
    margin:10px auto;
    background-color: rgb(167, 164, 164, .3);
    padding: 10px;
}

.content-form-login h1{
text-align: center;
font-family:sans-serif;
font-size: 5vw;
}

.list-customer-content{
    width: 74%;
    margin: 10px 13%;
    text-align: center;
}

.list-customer-content table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .list-customer-content table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .send-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 3px auto;
    background-color: cornsilk;
    padding: 7px;
  }
  .send-header label {
    max-width: 150px;
    font-size: 2.5vw;
    font-family: monospace;
    text-align: center;
  }
  .send-header img {
    max-width: 100px;
  }
  .send-header input {
    max-width: 25%;
    font-size: 2.5vw;
    font-family: monospace;
  }
  .check{
    display:flex;
    align-items: center;
    justify-content:start;
    font-family:sans-serif;
  }
  .check input {
    max-width:20px;
    margin-right: 10px;
  }

  .content-form-login-customer{
    width: 60%;
    margin: 10px auto;
    background-color: rgb(167, 164, 164, .3);
    padding: 10px;
}
.content-form-login-customer p, label{
  color:white;
  text-align: center;
  font-family:sans-serif ;
}

.content-form-login-customer a{
  color:white;
  font-size:18px;
}
.content-form-login-customer input{
  width: 60%;
  margin: 10px 20%;
  font-size:18px;
}