.carrosel{
    background: rgb(118, 126, 107, .2);
    max-width: 816px;
    width: 86%;
    margin: 0px auto;
    padding:10px;
}
.carrosel h1{
text-align: center;
font-family: sans-serif;
margin:2px;
font-size: 5vw;


}
.carrosel img{
    max-width: 60%;
    margin: 2px 20%;
}
.content-carrossel{
    
    max-height:600px;
}
