.carrosel{
    background: rgb(118, 126, 107, .2);
    max-width: 816px;
    width: 86%;
    margin: 20px auto;
}
.carrosel h1{
text-align: center;
font-family: sans-serif;

}
.carrosel img{
    max-width: 30%;
    margin: 2px 35%;
}
.content-carrossel{
    height: 51vh;
    max-height:600px;
}
