@media(min-width:700px){
   .suggest-chef {
       font-size: 40px !important;
   }
   .carrosel h1 {
    font-size: 40px !important;
   }
   [data-type]{
    font-size: 40px ;
   }
   .footer{
    font-size: 18px !important;
   }
   .content-form-login h1{
    font-size: 30px ;
    }
    .form-send label, input{   
        font-size:20px;
    } 
    .content-form a{  
        font-size: 23px;
    }
    .products-edit-line a, h3 {
        font-size: 25px;       
    }
    .send-header input {       
        font-size: 20px;        
    }
    .content-form h1{       
        font-size: 30px
    }
    .products-edit-line h3{
        font-size:25px;
    }
    .send-header label{
        font-size:25px;
    }
    .send-logo label, input{        
        font-size: 16px !important;
    } 

    .products h1{
        font-size:25px;
        max-width: 200px;
    }
  
    .products h2{
    font-size:14px;
    max-width: 200px;
    }
    .products p{
        font-size:17px;
    }
    .main-menu a{
        font-size:15px !important;
    }
    .admin-edit{
        font-size:15px;
    }
    .modal-product p{
        font-size:20px !important;
    }
}
@media(max-width:430px){
    .modal-product {
        left:8% !important;
    }  
    .form-send input{
        height:60px;
        font-size: 30px;
    } 
    
}
