@media(max-width:430px){
    .modal-product {
        left:8% !important;
        height: 70vh;
    }  
    .modal-product img {
       width:94% !important;
       margin: 41px 3% !important;
    } 
    .form-send input{
        height:60px;
        font-size: 30px;
    }   
    .warning{
        width: 90% !important;
        margin: 5px auto !important;
        font-size: 15px !important;
    }
    .content-form-login-customer{
        width: 100%;      
    }
    .content-form-login-customer input{
        width: 90%;       
        margin:10px 2%;
        font-size:20px;
        text-align: center;
    }
    .content-form-login-customer div{
        display: flex;
        width: 95% !important;
    }
    .content-form-login-customer div input{
        font-size:20px;
    }
    
}