.products{
    background: gray;
    padding: 4px;
    margin: 0px auto;
    width: 90%;
    max-width: 861px;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.products h1{
    color:#FFD380;
    margin: 3px;
    font-size: 20px;
    max-width: 100px;
    font-size: 3vw;
    cursor: pointer;
}
.products h2{
    color:white;
    margin: 3px;
    font-size: 2.5vw;
    max-width: 100px;
    font-family:monospace;
    cursor: pointer;
}
.products img{
    max-width: 100%;
    cursor: pointer;
}
.products p {
    color:white;
    font-weight: bold;
    font-size: 2vw;
    font-family:monospace;
    text-align:left;
    margin:1px 10px;
 }
 .admin-edit {
    position: relative;
    top: 3px;
    left: 0;
    font-size: 2.5vw;
    color: white;
 }
 [data-type] {
    background: #353535;
    margin: 2px auto;
    width: 90%;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    font-size: 5vw;
    font-family: sans-serif;
    padding: 14px 3px;
    max-width: 861px;
 }




/* FORMULARIO DE SEND PRODUTO */

.content-form{
    width:80%;
    margin:10px auto;
    background-color: rgb(167, 164, 164, .3);
    padding: 10px;
}

.content-form h1{
text-align: center;
font-family:sans-serif;
font-size: 4vw
}
.content-form a{  
    font-size: 4vw;
    font-family: monospace;
    }
.form-send{
    width:100%;
    margin:10px auto;
    max-width: 700px;
    
}
.form-send label{
   display:block;
   margin-bottom:10px;
   font-size:5vw;
}   
.form-send input{
    width:100%;
    margin-bottom:15px;
    min-height: 30px;
    font-size:4vwpx;
    border-radius:4px;
}
.form-send select{
    width:60%;
    margin: 15px auto;
    min-height: 30px;
}
.form-send img{
    max-width:100px;
}
.sub-first{    
    background:#353535d4;

}
.sub-second{
    background:#35353588;
}

