.products{
    background: gray;
    padding: 5px;
    margin: 10px auto;
    max-width: 800px;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.products h1{
    color:white;
    margin: 3px;
    font-size: 20px;
    max-width: 300px;
    cursor: pointer;
}
.products h2{
    color:white;
    margin: 3px;
    font-size: 13px;
    max-width: 300px;
    font-family:monospace;
    cursor: pointer;
}
.products img{
    max-width: 17%;
    cursor: pointer;
}
.products p {
    color:white;
    font-weight: bold;
    font-size:22px;
    font-family:monospace;
 }
 .admin-edit {
    position: relative;
    top: 3px;
    left: 0;
    font-size: 13px;
    color: white;
 }
 [data-type] {
    background:blueviolet;
    margin:2px auto;
    width:58%;
    text-align:center;
    color:#FFF;
    cursor:pointer;
 }

 .modal-product{
    position: absolute;
    height: 514px;
    width: 766px;
    top: 86px;
    left: 322px;
    background: rgb(138, 54, 216, 1);
    display:none;

}
.modal-product img{
   width: 60%;
    margin: 10px 20%;
}
.modal-product h1{
    color:#FFF;
    text-align: center;
    font-family: monospace;
}

/* FORMULARIO DE SEND PRODUTO */

.content-form{
    width:80%;
    margin:10px auto;
    background-color: rgb(167, 164, 164, .3);
}

.content-form h1{
text-align: center;
font-family:sans-serif;
}
.content-form a{
    text-align: left;
    position: relative;
    left: 225px;
    font-size: 23px;
    font-family: monospace;
    }
.form-send{
    width:60%;
    margin:10px auto;
}
.form-send label{
   display:block;
   margin-bottom:10px;
   font-size: 20px;
}   
.form-send input{
    width:80%;
    margin-bottom:10px;
    min-height: 30px;
    font-size:16px;
    border-radius:4px;
}
.form-send select{
    width:60%;
    margin: 15px auto;
    min-height: 30px;
}
.form-send img{
    max-width:100px;
}

