.products{
    background: gray;
    padding: 5px;
    margin: 10px 11%;
    width: 90%;
    max-width: 1100px;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.products h1{
    color:white;
    margin: 3px;
    font-size: 20px;
    max-width: 100px;
    font-size: 2.5vw;
    cursor: pointer;
}
.products h2{
    color:white;
    margin: 3px;
    font-size: 2.5vw;
    max-width: 100px;
    font-family:monospace;
    cursor: pointer;
}
.products img{
    max-width: 17%;
    cursor: pointer;
}
.products p {
    color:white;
    font-weight: bold;
    font-size: 2.5vw;
    font-family:monospace;
 }
 .admin-edit {
    position: relative;
    top: 3px;
    left: 0;
    font-size: 2.5vw;
    color: white;
 }
 [data-type] {
    background:blueviolet;
    margin:2px auto;
    width:82%;
    text-align:center;
    color:#FFF;
    cursor:pointer;
    font-size:5vw;
 }




/* FORMULARIO DE SEND PRODUTO */

.content-form{
    width:80%;
    margin:10px auto;
    background-color: rgb(167, 164, 164, .3);
    padding: 10px;
}

.content-form h1{
text-align: center;
font-family:sans-serif;
font-size: 4vw
}
.content-form a{  
    font-size: 4vw;
    font-family: monospace;
    }
.form-send{
    width:60%;
    margin:10px auto;
}
.form-send label{
   display:block;
   margin-bottom:10px;
   font-size:3vw;
}   
.form-send input{
    width:80%;
    margin-bottom:10px;
    min-height: 30px;
    font-size:4vwpx;
    border-radius:4px;
}
.form-send select{
    width:60%;
    margin: 15px auto;
    min-height: 30px;
}
.form-send img{
    max-width:100px;
}

