@import 'products.css';
@import 'admin.css';
@import 'default.css';
@import 'carrossel.css';
@import 'desktop.css';
@import 'mobile.css';
@import 'request.css';
@import 'customer.css';


.main-menu{
   display:flex;
   margin: 10px auto;
   width:89%;
   justify-content:space-around;
   background: rgb(132, 128, 128, .7);
   padding:5px;


}
.main-menu a{
    text-decoration: none; 
    color:white;
    font-family: sans-serif;
    font-size: 2.5vw;

}
.hide{
    display:none;  
}
.show-menu{
    display: block;
    animation: sh 1s alternate ;
   

}
@keyframes sh{
    from{
        opacity: 0;
        transform: translate3d(0, -30px, 0)
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.modal-product{
    position: fixed;
    width: 85%;
    min-width: 255px;
    top: 10px;
    left: 13%;
    background:#F1E489;
    box-shadow: #fadf12;
    display:none;


}
.modal-product img{
    width: 50%;
    margin: 41px 25%;
    position: relative;
}
.modal-product h1{
    color:white;
    text-align: center;
    font-family: monospace;
    font-size:5vw;
    position: relative;
}
.modal-product p{
    color:#353535;
    text-align: center;
    padding: 5px;
    font: 17px sans-serif;
    background: #fadf1280;
    position: relative;
}
.modal-product div{  
   background:gray;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding:10px;
}
.modal-product div form{    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
 }
 .comment_request{
     font: 15px sans-serif;
     text-align: center;
    width:90%;
    margin-top: 10px;  
    min-height: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 21px black;
}

.btn_close{
background:red;
padding: 15px 25px;
margin-top: 10px;
width: 50%;
box-shadow: 4px 4px 21px black;
color: white;
}
.btn_request{
    background:green;   
    padding: 15px 25px;
    margin-top: 10px;
    width: 50%;
    box-shadow: 4px 4px 21px black;
    color: white;
    font: 14px sans-serif;
}

.modal-product div 
.modal-product button{
    padding: 7px 25px;
    background: green;
    font-size: 25px;
    cursor: pointer;
    flex:1;
    margin: 5px;
    box-shadow: 2px 2px 10px black;
    color:white;
    position: relative;
}
.show{
    display:block;
    animation: show 1s;
}
@keyframes show{
    from{
        opacity: 0;
        transform: translate3d(-30px, 0, 0)
    }
    to{
        opacity: 1;
        transform: translate3d(0px, 0, 0)
    }
} 



.logo-container{
    background: rgb(118, 126, 107, .2);
    max-width: 816px;
    width: 86%;
    
    text-align:center;
    margin: 10px auto;
}
.logo-container img{
    width: 100%;
}
.send-logo{
    width: 100%;
    margin: 10px 0%;
    padding:5px
}

.send-logo label{   
    display:flex;
    justify-content: space-around;
    margin:5px auto;
    text-align: center;
    font-size: 2vw;
    align-items:center;
}
.send-logo input{  
    text-align: center;
    font-size: 2vw;
}
.footer{
    width: 87%;
    padding: 4px;
    background: #353535;
    margin: 10px auto;
    text-align: center;
    font-size: 4vw;
    padding: 6px 3px;
    position: relative;
    bottom: -100px;
    color:white;
    font-family: sans-serif;
}
.suggest-chef{
    color:#F8D679;
    font-size:6vw;
    font-family:monospace;  
    text-align: center;
    margin: 10px;
   

}
body{
    background:#35353588;
}
.warning{
    color:yellow;
    text-align: center;
    width: 500px;
    margin:25px auto;
    font-family: sans-serif;
    font-size:20px;
}
